In [4]:
# 1.Print a square of * of size n
i = 1
while i < 5:
    print('*', end=" ")
    j = 1
    while j < 4:
        print('*', end=" ")
        j = j + 1
    i = i + 1
    print()

* * * *
* * * *
* * * *
* * * *

In [9]:
# Print a left-aligned right triangle of #
for i in range(4):
    for j in range(i+1):
        print("#",end=" ")
    print()

#
# #
# # #
# # # #

In [18]:
# Print a right-aligned triangle of numbers
row=7
for i in range(1,row+1):
    for s in range(row - i):
        print(" ", end=" ")
    for j in range(i+1):
        print(j,end=" ")
    print()

            0 1
          0 1 2
        0 1 2 3
      0 1 2 3 4
    0 1 2 3 4 5
  0 1 2 3 4 5 6
0 1 2 3 4 5 6 7

In [27]:
# Print a triangle with row number repeated
i = 1
while i <= 4:
    j = 1
    while j <= i:
        print(i, end=" ")
        j += 1
    print()
    i += 1

1
2 2
3 3 3
4 4 4 4

In [31]:
i = 1
while i<=4:
    j=1
    while j<=i:
        print(i,end=" ")
        j+=1
    print()
    i+=1

1
2 2
3 3 3
4 4 4 4

In [32]:
n = 4
for i in range(1, n + 1):
    for j in range(i):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4

In [37]:
i = 0
while i<=4:
    j=0
    while j<=i:
        print(chr(65+j),end=" ")
        j+=1
    print()
    i+=1

A
A B
A B C
A B C D
A B C D E

In [40]:
n = 4
for i in range(1, n + 1):
    for j in range(i):
        print(chr(65 + j), end=" ")
    print()

A
A B
A B C
A B C D

In [45]:
n = 7
for i in range(1, n + 1):
    for j in range(7-i):
        print(chr(65 + j), end=" ")
    print()

A B C D E F
A B C D E
A B C D
A B C
A B
A

In [48]:
# Print an inverted triangle of *
for i in range(4):
    for j in range(4-i):
        print("*",end=" ")
    print()

* * * *
* * *
* *
*

In [51]:
# Create a hollow rectangle of @
rows=4
col=6
for i in range(rows):
    for j in range(col):
        if i!=0 and i!=rows-1 and j!=0 and j!=col-1:
            print(" ", end=" ")
            continue
        print("@",end=" ")
    print()

@ @ @ @ @ @
@         @
@         @
@ @ @ @ @ @

In [58]:
# Print a number triangle:
for i in range(1,6):
    for j in range(i):
        print(i+j,end=" ")
        j+=1
    print()

1
2 3
3 4 5
4 5 6 7
5 6 7 8 9