### Dictionary

#### creating a dictionary

In [3]:
#A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed in curly braces {}. 
#dict with int key
d = {1:'one' , 2:'two', 3:'three' , 4:'two'} #Keys must be unique in a dictionary, duplicate values are allowed. 
d

{1: 'one', 2: 'two', 3: 'three', 4: 'two'}

In [4]:
#dict with string key
d2={'one':1, 'two':2, 'three':3}
d2

{'one': 1, 'two': 2, 'three': 3}

In [5]:
#dict with mixed keys
d3={'A':'one',2:'two','C':'three'}
d3

{'A': 'one', 2: 'two', 'C': 'three'}

In [6]:
d3.keys() ## Return Dictionary Keys using keys() method

dict_keys(['A', 2, 'C'])

In [7]:
d3.values() #Return dictionary values using value()

dict_values(['one', 'two', 'three'])

In [8]:
d3.items() # Access each key-value pair within a dictionary

dict_items([('A', 'one'), (2, 'two'), ('C', 'three')])

In [9]:
d4 = {1:'one' , 2: 'two', 3:['three','four']} #list inside a dictionary
d4

{1: 'one', 2: 'two', 3: ['three', 'four']}

In [11]:
d5 = {'one': 1, 'two': 2 , 'three':{3:3,4:4}} #nested dictionary
d5

{'one': 1, 'two': 2, 'three': {3: 3, 4: 4}}

In [13]:
keys={'a','b','c','d'} # Create a dictionary from a sequence of keys
mydict= dict.fromkeys(keys) #Create a new dictionary with keys from iterable and values set to value.
mydict

{'a': None, 'c': None, 'b': None, 'd': None}

In [14]:
keys={'a','b','c','d'}
values=5
mydict=dict.fromkeys(keys, values)
mydict

{'a': 5, 'c': 5, 'b': 5, 'd': 5}

In [15]:
keys={'a','b','c','d'}
values=[1,2,3]
mydict=dict.fromkeys(keys, values)
mydict

{'a': [1, 2, 3], 'c': [1, 2, 3], 'b': [1, 2, 3], 'd': [1, 2, 3]}

In [17]:
values.append(4) # Append object to the end of the list.
mydict

{'a': [1, 2, 3, 4, 4],
 'c': [1, 2, 3, 4, 4],
 'b': [1, 2, 3, 4, 4],
 'd': [1, 2, 3, 4, 4]}

#### Accessing Items

In [18]:
d={'one':1, 'two':2, 'three':3, 'four':4}
d

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [22]:
d['one'] # Access item using key

1

In [23]:
d.get('two') #Return the value for key if key is in the dictionary, else default.

2

In [25]:
d.get('five')

#### Add, Remove & Change Items

In [43]:
d={'name':'alex' , 'age':25, 'height':5.1, 'phone_no': 0000000000}
d

{'name': 'alex', 'age': 25, 'height': 5.1, 'phone_no': 0}

In [44]:
d['age']=26 ## Changing Dictionary Items 
d

{'name': 'alex', 'age': 26, 'height': 5.1, 'phone_no': 0}

In [45]:
update_d={'age':27} 
d.update(update_d) 
d

{'name': 'alex', 'age': 27, 'height': 5.1, 'phone_no': 0}

In [46]:
#adding items in dictionary
d

{'name': 'alex', 'age': 27, 'height': 5.1, 'phone_no': 0}

In [47]:
d['salary'] = 25000
d

{'name': 'alex', 'age': 27, 'height': 5.1, 'phone_no': 0, 'salary': 25000}

In [48]:
# Removing items in the dictionary using Pop method 
d.pop('height')

5.1

In [49]:
d

{'name': 'alex', 'age': 27, 'phone_no': 0, 'salary': 25000}

In [50]:
d.popitem() # A random item is removed 
d

{'name': 'alex', 'age': 27, 'phone_no': 0}

In [51]:
del[d['age']] ## Removing item using del method 
d

{'name': 'alex', 'phone_no': 0}

In [52]:
d.clear()  # Delete all items of the dictionary using clear method
d

{}

In [54]:
del d # Delete the dictionary object

In [55]:
d

NameError: name 'd' is not defined

#### Copy Dictionary

In [56]:
d={1:'one', 2:'two', 3:'three'}
d

{1: 'one', 2: 'two', 3: 'three'}

In [57]:
mydict=d.copy() #D.copy() -> a shallow copy of D
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [58]:
mydict == d

True

In [59]:
id(mydict)== id(d)

False

#### Loop through a Dictionary

In [60]:
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [63]:
for i in mydict:
    print(i, ':', mydict[i]) ## Key & value pair

1 : one
2 : two
3 : three

In [64]:
for i in mydict:
    print(i) #print keys

1
2
3

In [65]:
for i in mydict:
    print(mydict[i]) #print values

one
two
three

#### Dictionary Membership

In [66]:
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [69]:
1 in mydict # Test if a key is in a dictionary or not.

True

In [70]:
'two' in mydict ## Membership test can be only done for keys.

False

In [71]:
2 in mydict

True

In [72]:
4 in mydict

False

#### All / Any 
##### The all() method returns:  True - If all all keys of the dictionary are true , False - If any key of the dictionary is false 


##### The any() function returns True if any key of the dictionary is True. If not, any() returns False.

In [73]:
d

{1: 'one', 2: 'two', 3: 'three'}

In [74]:
all(d)

True

In [75]:
any(d)

True

In [ ]:
mydict.