# Dta Structure
## Set

In [33]:
#Creating a set
s= set()
s

set()

### ❌ You cannot access by index

In [34]:
#try accessing set through index
s[0]

TypeError: 'set' object is not subscriptable

### ❌ You cannot slice a set

In [35]:
#try slicing
s[:]

TypeError: 'set' object is not subscriptable

### Adding elements in a set

In [36]:
#using add()-Add an element to a set in ordered way only if the data type is similar.
s.add(1) 
s.add(3)
s.add(5)
s.add(9)
s.add(2)
s.add(4)
s

{1, 2, 3, 4, 5, 9}

In [37]:
#using update()-Update a set with the union of itself and others.
s.update("10")

In [38]:
s

{'0', 1, '1', 2, 3, 4, 5, 9}

### Sets with different data types

In [39]:
s1=set()

In [40]:
# Set with different data types
s1={1,5.3,20,"nit_student", 1+2j,True}
s1

{(1+2j), 1, 20, 5.3, 'nit_student'}

In [41]:
# This will raise an error
nesting_list={[1,2]} ## ❌ lists are unhashable

TypeError: unhashable type: 'list'

### Removing elements from a set

In [42]:
#using remove()- Remove an element from a set; it must be a member
s.remove(4)
s

{'0', 1, '1', 2, 3, 5, 9}

In [43]:
#ussing pop()- Remove and return an arbitrary set element.Raises KeyError if the set is empty.s.pop() 
s.pop()

1

In [44]:
s

{'0', '1', 2, 3, 5, 9}

In [45]:
#using discard()- Remove an element from a set if it is a member.
s.discard(3)

In [46]:
s

{'0', '1', 2, 5, 9}

In [47]:
#Unlike set.remove(), the discard() method does not raise an exception when an element is missing from the set.
s.discard(100)

In [48]:
s

{'0', '1', 2, 5, 9}

In [49]:
#using clear()-Remove all elements from this set.
s.clear()

In [50]:
s

set()

In [51]:
s3=set()
s3={1,4,6,3,7}

In [52]:
s3

{1, 3, 4, 6, 7}

### for loop in set

In [53]:
for i in s3:
    print(i)

1
3
4
6
7

In [54]:
for i in enumerate(s3):
    print(i)

(0, 1)
(1, 3)
(2, 4)
(3, 6)
(4, 7)

### Set Uniqueness and Duplicates

In [104]:
# Creating a set with duplicate values
numbers = {1, 2, 2, 3, 4, 4, 5}

print("Set with duplicates removed:", numbers)

Set with duplicates removed: {1, 2, 3, 4, 5}

In [105]:
#Even though you added 2 and 4 twice, the set only keeps one copy of each.

In [106]:
fruits = {"apple", "banana"}
fruits.add("apple")   # Duplicate
fruits.add("cherry")  # New item

print("Fruits set:", fruits)

Fruits set: {'apple', 'banana', 'cherry'}

### set operations

In [55]:
s1={1,2,3,4}
s2={3,4,5,6,7,8}
s3={8,9,10}
print(s1,s2,s3)

{1, 2, 3, 4} {3, 4, 5, 6, 7, 8} {8, 9, 10}

#### Union

In [56]:
#union()- Return the union of sets as a new set.
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [57]:
s1 | s2 #|-  concate the set similar to union

{1, 2, 3, 4, 5, 6, 7, 8}

In [58]:
s1 | s2 | s3

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [59]:
s1.union(s2,s3)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

#### difference

In [60]:
print(s1,s2,s3)

{1, 2, 3, 4} {3, 4, 5, 6, 7, 8} {8, 9, 10}

In [61]:
#difference- Return the difference of two or more sets as a new set.
s1.difference(s2)

{1, 2}

In [62]:
s2.difference(s1)

{5, 6, 7, 8}

In [63]:
s2.difference(s3)

{3, 4, 5, 6, 7}

In [64]:
s3.difference(s1)

{8, 9, 10}

In [65]:
s1.difference(s2,s3)

{1, 2}

In [66]:
s1-s2 #'-' symbol act as difference

{1, 2}

#### symmetric_difference

In [67]:
s1,s2,s3

({1, 2, 3, 4}, {3, 4, 5, 6, 7, 8}, {8, 9, 10})

In [68]:
s1.symmetric_difference(s2) #Return the symmetric difference of two sets as a new set

{1, 2, 5, 6, 7, 8}

In [69]:
s2.symmetric_difference(s3)

{3, 4, 5, 6, 7, 9, 10}

#### symmetric_difference_update

In [71]:
s1,s2,s3

({1, 2, 3, 4}, {3, 4, 5, 6, 7, 8}, {8, 9, 10})

In [72]:
s1.symmetric_difference_update(s2) #Update a set with the symmetric difference of itself and another.

In [73]:
s1

{1, 2, 5, 6, 7, 8}

#### intersection

In [74]:
s1,s2,s3

({1, 2, 5, 6, 7, 8}, {3, 4, 5, 6, 7, 8}, {8, 9, 10})

In [75]:
s1.intersection(s2)

{5, 6, 7, 8}

In [76]:
s2.intersection(s3)

{8}

In [78]:
s2 & s3 #"&"- symbol act as intersection

{8}

In [79]:
s1 & s2 & s3

{8}

#### intersection_update

In [82]:
s1.intersection_update(s2) #Update a set with the intersection of itself and another.

In [83]:
s1

{5, 6, 7, 8}

### Set methods

In [91]:
a = {1,2,3,4,5,6,7,8}
b = {5,6,7,8}
c = {10,20,30,40}

In [92]:
print(a)
print(b)
print(c)

{1, 2, 3, 4, 5, 6, 7, 8}
{8, 5, 6, 7}
{40, 10, 20, 30}

#### issuperset()

In [93]:
a.issuperset(b) #Test whether every element in other is in the set.

True

In [94]:
b.issuperset(a)

False

#### issubset()

In [100]:
b.issubset(a) #Test whether every element in the set is in other.

True

In [101]:
a.issubset(b)

False

#### isdisjoint()

In [102]:
a.isdisjoint(c) #Return True if two sets have a null intersection.

True

In [103]:
a.isdisjoint(b)

False