### Data Structure
## Tuple

In [3]:
#Creating a tuple
t=(10,20,30,40,50)

In [4]:
t

(10, 20, 30, 40, 50)

In [5]:
#Accessing tuple items
t[2] #positive indexing

30

In [6]:
t[-4] #negative indexing

20

In [7]:
#Slicing a tuple
t[:4]

(10, 20, 30, 40)

In [8]:
t[3:]

(40, 50)

In [9]:
t[2:6:2]

(30, 50)

In [10]:
#Looping through a tuple
t1=("one","two","three","four","five")
t1

('one', 'two', 'three', 'four', 'five')

In [11]:
#using for-loop
for i in t1:
    print(i)

one
two
three
four
five

In [12]:
i=0
while i<len(t1):
    print(t1[i])
    i+=1

one
two
three
four
five

In [13]:
#Tuple methods
t1.index("two") #Return first index of value.

1

In [14]:
t1.count("four") #Return number of occurrences of value.

1

In [15]:
#Immutability of tuples
t1.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [16]:
t1.remove()

AttributeError: 'tuple' object has no attribute 'remove'

In [17]:
#Nested tuples
t2=((1,2),(3,4),(5),6)
t2

((1, 2), (3, 4), 5, 6)

In [18]:
t2[1][0]

3

In [19]:
t2[0][1]

2

In [20]:
#Tuples with different data types
t3=("alex","andrew","john") #string
t3

('alex', 'andrew', 'john')

In [21]:
t4=(1,2,3,4) #integer
t4

(1, 2, 3, 4)

In [22]:
t5=(1.2,3.2,4.5) #float
t5

(1.2, 3.2, 4.5)

In [23]:
t6=("ayush", 1,5.1, True) #mix data type
t6

('ayush', 1, 5.1, True)

In [24]:
t7=(1,2,[3,4]) #list inside the tuple
t7

(1, 2, [3, 4])

In [25]:
t

(10, 20, 30, 40, 50)

In [26]:
#Using tuples in if conditions
if 10 in t:
    print("yes")
else:
    print("no")

yes

In [27]:
if 1 in t:
    print("yes")
else:
    print("no")

no

In [28]:
#Converting between list and tuple
l=[1,2,3,4] 
my_tuple=tuple(l) #converting tuple into list
my_tuple

(1, 2, 3, 4)

In [29]:
t

(10, 20, 30, 40, 50)

In [30]:
my_list = list(t) #converting list into tuple
my_list

[10, 20, 30, 40, 50]

In [ ]:
# 📌 12. When to use tuples over lists
# ✅ Use tuples when:
# - Your data should not change (immutability)
# - You want to ensure the data is read-only
# - You need faster performance (tuples are slightly faster than lists)
# - You are returning multiple values from a function
# - You want to use the data as a dictionary key (tuples are hashable, lists are not)